.green {
    background-color: green;
    cursor: pointer;
}

.red {
    background-color: red;
    cursor: default;
}

.user-booked {
    background-color: cornflowerblue;
    cursor: default;
}

@media screen and (max-width: 600px) {
    .card, .form-control {
        width: 100% !important;
        max-width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .nav, .nav li {
        width: 100% !important;
        margin: 0px !important;
    }

    .nav li a {
        border-radius: 0px !important;
    }
}
