<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="lib/bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css"/>

    <title>Ripetizioni</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<div id="body-container">
    <!-- Navbar -->
    <nav class="d-flex flex-wrap flex-row navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler mb-2 mb-md-0" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mb-2 mb-md-0" id="navbarNav">
            <ul class="nav nav-pills mr-auto">
                <li class="nav-item">
                    <a class="nav-link active text-center" href="javascript:void(0)" id="PrenotaNav"
                       @click="navigateTo(destination.PRENOTA)">
                        Prenota
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-plus"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            <path fill-rule="evenodd"
                                  d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                        </svg>
                    </a>
                </li>
                <li v-if="loggedIn" class="nav-item">
                    <a class="nav-link text-center" href="javascript:void(0)" id="PrenotazioniNav"
                       @click="navigateTo(destination.PRENOTAZIONI)">
                        Prenotazioni
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                            <path fill-rule="evenodd"
                                  d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                    </a>
                </li>
                <li v-if="isAdmin" class="nav-item">
                    <a class="nav-link text-center" href="javascript:void(0)" id="AdminConsoleNav"
                       @click="navigateTo(destination.ADMIN_CONSOLE)">
                        Admin Console
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-sliders" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <ul v-if="!loggedIn && sessionCheckEnded" class="nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-secondary" href="javascript:void(0)" data-toggle="modal"
                   data-target="#loginModal">Login</a>
            </li>
        </ul>
        <ul v-if="loggedIn && sessionCheckEnded" class="nav ml-auto">
            <li class="nav-item d-flex align-items-center justify-content-center">
                <div class="span12 mb-2 mb-md-0 mr-md-2">Benvenuto, {{username}}</div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center btn btn-danger" href="javascript:void(0)" v-on:click="logout">
                    Logout
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-square-fill"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 8.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    <!-- End Navbar -->
    <section>
        <div v-if="navigation === destination.PRENOTA">
            <!-- Login Modal -->
            <div v-if="!loggedIn && sessionCheckEnded" class="modal fade" id="loginModal" tabindex="-1" role="dialog"
                 aria-labelledby="modal-container"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="form-title text-center">
                            <h4>Login</h4>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex flex-column text-center">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="username"
                                               placeholder="Username" v-model="username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="password"
                                               placeholder="Password" v-model="password">
                                    </div>
                                    <input type="button" class="btn btn-primary btn-block" value="Login"
                                           v-on:click="login">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <div class="d-flex flex-row justify-content-center flex-wrap p-2">
                <select style="max-width: 250px;" class="form-control m-2" v-model="selectedCourse"
                        @change="selectChanged()">
                    <option v-for="course in courses" :value="course.name">{{course.name}}</option>
                </select>
                <select style="max-width: 250px;" class="form-control m-2" v-model="selectedTeacher"
                        @change="selectChanged()">
                    <option v-for="teacher in teachers" :value="teacher.id">{{teacher.name}}
                        {{teacher.surname}}
                    </option>
                </select>
            </div>
            <div id="ripetizioni-container" class="text-center">
                <div v-if="lessonsFlag === true" class="d-flex flex-row justify-content-center flex-wrap p-2">
                    <ripetizione v-for="lesson in lessons" v-bind:corso="lesson.course.name"
                                 v-bind:nome="lesson.teacher.name"
                                 v-bind:cognome="lesson.teacher.surname" v-bind:id="lesson.teacher.id" type="add"
                                 @lesson-emit="onLessonEmit"></ripetizione>
                </div>
                <p v-if="lessons.length === 0" class="m-2">Non ci sono lezioni.</p>
                <img v-if="lessonsFlag === null" class="m-2" style="width: 70px" src="res/load.gif" alt="loading">
            </div>

            <!-- Calendar Modal -->
            <div v-if="lessonsFlag === true" class="modal fade" id="bookModal" tabindex="-1" role="dialog"
                 aria-labelledby="modal-container"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="form-title text-center">
                            <h4>Calendario</h4>
                        </div>
                        <div class="modal-body">
                            <h5>{{lessonData.course}}</h5>
                            <h6>{{lessonData.name}} {{lessonData.surname}}</h6>
                            <div class="d-flex flex-column text-center">
                                <form>
                                    <table class="table table-bordered table-sm">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Lun</th>
                                            <th scope="col">Mar</th>
                                            <th scope="col">Mer</th>
                                            <th scope="col">Gio</th>
                                            <th scope="col">Ven</th>
                                        </tr>
                                        </thead>
                                        <tbody id="calendarTable">
                                        <tr>
                                            <th scope="row">15-16</th>
                                            <td class="green" @click="onCellClick(0,1)"></td>
                                            <td class="green" @click="onCellClick(0,2)"></td>
                                            <td class="green" @click="onCellClick(0,3)"></td>
                                            <td class="green" @click="onCellClick(0,4)"></td>
                                            <td class="green" @click="onCellClick(0,5)"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">16-17</th>
                                            <td class="green" @click="onCellClick(1,1)"></td>
                                            <td class="green" @click="onCellClick(1,2)"></td>
                                            <td class="green" @click="onCellClick(1,3)"></td>
                                            <td class="green" @click="onCellClick(1,4)"></td>
                                            <td class="green" @click="onCellClick(1,5)"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">17-18</th>
                                            <td class="green" @click="onCellClick(2,1)"></td>
                                            <td class="green" @click="onCellClick(2,2)"></td>
                                            <td class="green" @click="onCellClick(2,3)"></td>
                                            <td class="green" @click="onCellClick(2,4)"></td>
                                            <td class="green" @click="onCellClick(2,5)"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">18-19</th>
                                            <td class="green" @click="onCellClick(3,1)"></td>
                                            <td class="green" @click="onCellClick(3,2)"></td>
                                            <td class="green" @click="onCellClick(3,3)"></td>
                                            <td class="green" @click="onCellClick(3,4)"></td>
                                            <td class="green" @click="onCellClick(3,5)"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">19-20</th>
                                            <td class="green" @click="onCellClick(4,1)"></td>
                                            <td class="green" @click="onCellClick(4,2)"></td>
                                            <td class="green" @click="onCellClick(4,3)"></td>
                                            <td class="green" @click="onCellClick(4,4)"></td>
                                            <td class="green" @click="onCellClick(4,5)"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <input v-if="loggedIn && sessionCheckEnded" type="button"
                                           class="btn btn-success btn-block"
                                           value="Prenota" @click="prenotaLezioni"
                                           :disabled="selectedLessonSlots.length == 0">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->
        </div>
        <div v-if="navigation === destination.PRENOTAZIONI" class="d-flex flex-column justify-content-center p-2">
            <booking v-if="userBookings && userBookings.length > 0"
                     v-for="booking in userBookings"
                     :course="booking.course"
                     :teacher_name="teachers.find((element) => {return element.id === booking.teacherId}).name"
                     :teacher_surname="teachers.find((element) => {return element.id === booking.teacherId}).surname"
                     v-bind:date_hour="lessonSlotToString(booking.lessonSlot)"
                     v-bind:lesson-slot="booking.lessonSlot"
                     :teacher_id="booking.teacherId"
                     @emit-disdici="onEmitDisdici"
                     @emit-effettuata="onEmitEffettuata"
                     :status="null"></booking>
            <div class="text-center" v-if="!userBookings || userBookings.length === 0">Nessuna prenotazione attiva.
            </div>
            <booking v-if="oldUserBooking.length > 0"
                     v-for="booking in oldUserBooking"
                     :course="booking.course"
                     :teacher_name="booking.teacher.name"
                     :teacher_surname="booking.teacher.surname"
                     v-bind:date_hour="lessonSlotToString(booking.lessonSlot)"
                     v-bind:lesson-slot="booking.lessonSlot"
                     :status="booking.status"></booking>
        </div>
        <div v-if="navigation === destination.ADMIN_CONSOLE"
             class="d-flex flex-row justify-content-center flex-wrap p-2">
            <div class="card d-flex flex-column text-center p-2 m-2 m-md-3 bg-light border-primary">
                <div class="card-header font-weight-bold">Docenti</div>
                <form id="addDocente" class="mb-2">
                    <div class="font-weight-bold text-rigth m-2">Aggiungi Docente</div>
                    <div class="d-flex flex-row justify-content-center flex-wrap p-2">
                        <div class="form-group">
                            <input type="text" class="form-control" id="nomeDocente" placeholder="Nome Docente"
                                   v-model="adminForm.teacherName">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="cognomeDocente" placeholder="Cognome Docente"
                                   v-model="adminForm.teacherSurname">
                        </div>
                    </div>
                    <input type="button" class="btn btn-primary" value="Aggiungi" @click="adminInsertTeacher">
                </form>
                <form id="deleteDocente" class="mb-2">
                    <div class="form-group">
                        <hr>
                        <div class="font-weight-bold text-rigth m-2 mt-3">Rimuovi Docente</div>
                        <select class="form-control" v-model="adminForm.teacherToDelete">
                            <option v-for="teacher in teachers" :value="teacher.id">{{teacher.name}}
                                {{teacher.surname}}
                            </option>
                        </select>
                    </div>
                    <input type="button" class="btn btn-danger" value="Rimuovi" @click="adminDeleteTeacher">
                </form>
            </div>
            <div class="card d-flex flex-column text-center p-2 m-2 m-md-3 bg-light border-primary">
                <div class="card-header font-weight-bold">Corsi</div>
                <form id="addCorso" class="mb-2">
                    <div class="form-group">
                        <div class="font-weight-bold text-rigth m-2">Aggiungi Corso</div>
                        <input type="text" class="form-control" id="nomeCorso" placeholder="Nome Corso"
                               v-model="adminForm.courseToAdd">
                    </div>
                    <input type="button" class="btn btn-primary" value="Aggiungi" @click="adminAddCourse">
                </form>
                <hr>
                <form id="deleteCorso" class="mb-2">
                    <div class="form-group">
                        <div class="font-weight-bold text-rigth m-2">Elimina Corso</div>
                        <select class="form-control" v-model="adminForm.courseToDelete">
                            <option v-for="course in courses" :value="course.name">{{course.name}}</option>
                        </select>
                    </div>
                    <input type="button" class="btn btn-danger" value="Rimuovi" @click="adminDeleteCourse">
                </form>
            </div>
            <div class="card d-flex flex-column text-center p-2 m-2 m-md-3 bg-light border-primary">
                <div class="card-header font-weight-bold">Lezioni</div>
                <form id="manageLezione">
                    <div class="form-group">
                        <div class="font-weight-bold text-rigth m-2">Aggiungi Lezione</div>
                        <label for="manageLezione">Corso</label>
                        <select class="form-control" v-model="adminForm.courseLesson">
                            <option v-for="course in courses" :value="course.name">{{course.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="manageLezione">Docente</label>
                        <select class="form-control" v-model="adminForm.teacherLesson">
                            <option v-for="teacher in teachers" :value="teacher.id">{{teacher.name}}
                                {{teacher.surname}}
                            </option>
                        </select>
                    </div>
                    <input type="button" class="btn btn-primary mb-2" value="Aggiungi" @click="adminAddLesson">
                </form>
                <div id="delete-ripetizioni-container" class="text-center" v-if="lessons.length > 0">
                    <hr>
                    <div class="font-weight-bold text-rigth m-2">Elimina Lezione</div>
                    <div v-if="lessonsFlag === true" class="d-flex flex-row justify-content-center flex-wrap p-2">
                        <ripetizione v-for="lesson in lessons" v-bind:corso="lesson.course.name"
                                     v-bind:nome="lesson.teacher.name"
                                     v-bind:cognome="lesson.teacher.surname" v-bind:id="lesson.teacher.id"
                                     type="delete"
                                     @delete-lesson-emit="adminDeleteLesson(lesson.course.name, lesson.teacher.id)"></ripetizione>
                    </div>
                    <p v-if="lessonsFlag === false" class="m-2">Non ci sono lezioni.</p>
                </div>
            </div>

            <div class="card d-flex flex-column text-center p-2 m-2 m-md-3 bg-light border-primary">
                <div class="card-header font-weight-bold">Prenotazioni</div>
                <div class="d-flex flex-row justify-content-center flex-wrap p-2">
                    <div class="text-center"
                         v-if="allBookings && allBookings.oldBookings.length === 0 && allBookings.newBookings.length === 0">
                        Nessuna
                        prenotazione attiva.
                    </div>
                    <booking v-if="allBookings && allBookings.newBookings.length > 0"
                             v-for="booking in allBookings.newBookings"
                             :course="booking.course"
                             :teacher_name="teachers.find((element) => {return element.id === booking.teacherId}).name"
                             :teacher_surname="teachers.find((element) => {return element.id === booking.teacherId}).surname"
                             v-bind:date_hour="lessonSlotToString(booking.lessonSlot)"
                             v-bind:lesson-slot="booking.lessonSlot"
                             :teacher_id="booking.teacherId"
                             :status="booking.status"
                             :username="booking.username"></booking>
                    <booking v-if="allBookings.oldBookings.length > 0"
                             v-for="booking in allBookings.oldBookings"
                             :course="booking.course"
                             :teacher_name="teachers.find((element) => {return element.id === booking.teacherId}).name"
                             :teacher_surname="teachers.find((element) => {return element.id === booking.teacherId}).surname"
                             v-bind:date_hour="lessonSlotToString(booking.lessonSlot)"
                             v-bind:lesson-slot="booking.lessonSlot"
                             :teacher_id="booking.teacherId"
                             :status="booking.status"
                             :username="booking.username"></booking>
                </div>
            </div>
        </div>

        <!-- Error Toast -->
        <div class="toast fade hide" id="errorToast" data-autohide="false" role="alert" aria-live="assertive"
             aria-atomic="true"
             style="width: 96%; max-width: 100%; position: absolute; top: 2%; right: 2%; left: 2%; z-index: 7000;">
            <div class="toast-header">
                <strong class="mr-auto badge badge-danger">ERROR</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body" id="errorToastText">
                {{message}}
            </div>
        </div>
        <!-- End Error Toast -->
    </section>
</div>

<script src="lib/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="lib/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
<script>

    //Enum for navigation
    const destination = {
        PRENOTA: 'prenota',
        PRENOTAZIONI: 'prenotazioni',
        ADMIN_CONSOLE: 'adminConsole',
    }

    //Enum representing statuses of bookings
    const bookingStatus = {
        ACTIVE: 'ACTIVE',
        CANCELED: 'CANCELED',
        DONE: 'DONE',
    }

    //Converts lessonSlot to string
    function lessonSlotToString(lessonSlot) {
        let day = "";
        switch (Math.floor(lessonSlot / 5)) {
            case 0:
                day = "Lun";
                break;
            case 1:
                day = "Mar";
                break;
            case 2:
                day = "Mer";
                break;
            case 3:
                day = "Gio";
                break;
            case 4:
                day = "Ven";
                break;
        }

        switch (lessonSlot % 5) {
            case 0:
                return day + ", 15-16";
            case 1:
                return day + ", 16-17";
            case 2:
                return day + ", 17-18";
            case 3:
                return day + ", 18-19";
            case 4:
                return day + ", 19-20";
        }
    }

    //Vue component that represents bookings in Prenotazioni and Admin Console
    Vue.component('booking', {
        props: ['course', 'teacher_name', 'teacher_surname', 'date_hour', 'teacher_id', 'lessonSlot', 'status', 'username'],
        template: '<div class="card m-2">\n' +
            '  <div class="card-body">\n' +
            '    <h5 class="card-title">{{course}}</h5>\n' +
            '    <p class="card-text">{{teacher_name}} {{teacher_surname}}</p>\n' +
            '    <p class="card-text">{{date_hour}}</p>\n' +
            '    <p v-if="username" class="card-text">{{username}}</p>\n' +
            '    <p v-if="status !== null && status === bookingStatus.ACTIVE" class="card-text badge badge-primary">{{status}}</p>\n' +
            '    <p v-if="status !== null && status === bookingStatus.CANCELED" class="card-text badge badge-warning">{{status}}</p>\n' +
            '    <p v-if="status !== null && status === bookingStatus.DONE" class="card-text badge badge-success">{{status}}</p>\n' +
            '    <a v-if="status === null" href="#" class="btn btn-warning" @click="emitDisdici">Disdici</a>\n' +
            '    <a v-if="status === null" href="#" class="btn btn-primary" @click="emitEffettuata">Effettuata</a>\n' +
            '  </div>\n' +
            '</div>',
        methods: {
            emitDisdici: function () {
                this.$emit('emit-disdici', this.course, this.lessonSlot, this.teacher_id);
            },
            emitEffettuata: function () {
                this.$emit('emit-effettuata', this.course, this.lessonSlot, this.teacher_id);
            },
        },
    });

    //Vue component that represents a lesson
    Vue.component('ripetizione', {
        props: ['corso', 'nome', 'cognome', 'id', 'type'],
        template: '<div id="ripetizioni" class="card text-center m-2">\n' +
            '  <div class="card-body">\n' +
            '    <h5 class="card-title">{{corso}}</h5>\n' +
            '    <h6 :id="\'Docente-\' + id" class="card-subtitle mb-2 text-muted">{{nome}} {{cognome}}</h6>\n' +
            '    <button v-if="type !== \'delete\'" class="btn btn-primary" v-on:click="emitNames" data-toggle="modal" data-target="#bookModal">Show</button>\n' +
            '    <button v-if="type === \'delete\'" class="btn btn-danger" v-on:click="emitNames">Rimuovi</button>\n' +
            '</div>\n' +
            '</div>',
        methods: {
            //Emit on click to pass data to vue app
            emitNames: function () {

                if (this.type === 'delete') {
                    this.$emit('delete-lesson-emit', this.corso, this.id);
                } else
                    this.$emit('lesson-emit', this.nome, this.cognome, this.corso, this.id);
            }
        },
    });

    new Vue({
        el: "#body-container",
        data: {
            lessonsFlag: null,
            lessons: [],
            courses: null,
            teachers: null,
            username: null,
            password: null,
            isAdmin: false,
            loggedIn: false,
            sessionCheckEnded: false,
            message: "",
            lessonData: {
                name: null,
                surname: null,
                course: null,
                id: null
            },
            selectedCourse: "Seleziona Materia",
            selectedTeacher: 0,
            bookings: null,
            teacherBookings: null,
            userBookings: [],
            oldUserBooking: [],
            allBookings: {
                oldBookings: [],
                newBookings: [],
            },
            selectedLessonSlots: [],
            navigation: destination.PRENOTA,
            adminForm: {
                teacherName: "",
                teacherSurname: "",
                courseToDelete: "Seleziona Materia",
                courseToAdd: "",
                teacherToDelete: 0,
                teacherLesson: 0,
                courseLesson: "Seleziona Materia",
            },
        },
        //When the app is loaded, immediately request data to the server
        mounted() {
            this.materie();
            this.docenti();
            this.lezioni(null, null);
            this.getUserBookings();
            this.getSessionLogin();

            //FORSE NON SERVE?
            /*$('#bookModal').on('hidden.bs.modal', function (e) {
                console.log("CIAO");
                const table = document.getElementById('calendarTable');
                for (let i = 0; i < table.children.length; i++) {
                    for (let j = 1; j < table.children[i].cells.length; j++)
                        table.children[i].cells[j].innerHTML = "";
                }
            })*/
        },
        methods: {
            //Update courses list
            materie: function () {
                const vm = this;
                $.get("Controller", {
                    action: "materie",
                }, function (data) {
                    if (data.message === "OK") {
                        vm.courses = data.data;
                    } else {
                        vm.courses = null;
                    }
                });
            },
            //Update teachers list
            docenti: function () {
                const vm = this;
                $.get("Controller", {
                    action: "docenti"
                }, function (data) {
                    if (data.message === "OK") {
                        vm.teachers = data.data;
                    } else {
                        vm.teachers = null;
                    }
                });
            },
            //Update lessons list
            lezioni: function (corso, docenteId) {
                const vm = this;
                $.get("Controller", {
                    action: "lessons",
                    course: corso,
                    teacherId: docenteId,
                }, function (data) {
                    if (data.message === "OK") {
                        vm.lessons = data.data;
                        vm.lessonsFlag = true;
                    } else {
                        vm.lessonsFlag = false;
                        vm.lessons = null;
                    }
                });
            },
            //Login function called from login form
            login: function () {
                const vm = this;
                if (vm.username == null || vm.username === "" || vm.password == null || vm.password === "") {
                    vm.showToast("Username e/o Password sbagliati");
                    return;
                }
                $.post("Controller", {
                    action: "login",
                    username: vm.username,
                    password: vm.password
                }, function (data) {
                    if (data.message === "OK") {
                        vm.username = data.data.username;
                        vm.password = null;
                        vm.isAdmin = data.data.admin;
                        vm.loggedIn = true;
                        vm.message = "";
                        $('#loginModal').modal('hide');
                    } else {
                        vm.loggedIn = false;
                        vm.showToast(data.message);
                    }
                });
            },
            //Request to server whether already exists a logged in session or not
            getSessionLogin: function () {
                const vm = this;
                $.post("Controller", {
                    action: "getSessionLogin",
                }, function (data) {
                    if (data.message === "Sessione valida") {
                        vm.username = data.data.username;
                        vm.password = null;
                        vm.isAdmin = data.data.admin;
                        vm.loggedIn = true;
                    } else if (vm.loggedIn && data.message === "Not logged in")
                        vm.logout();
                    vm.sessionCheckEnded = true;
                });
            },
            //Logout function
            logout: function () {
                const vm = this;
                $.get("Controller", {
                    action: "logout",
                }, function (data) {
                    vm.username = null;
                    vm.password = null;
                    vm.isAdmin = false;
                    vm.loggedIn = false;
                    vm.navigateTo(destination.PRENOTA)
                });
            },
            //Called from ripetizione component to know which lesson should show up in modal table
            onLessonEmit: function (name, surname, course, id) {
                this.lessonData.name = name;
                this.lessonData.surname = surname;
                this.lessonData.course = course;
                this.lessonData.id = id;
                const table = document.getElementById('calendarTable');
                for (let i = 0; i < table.children.length; i++) {
                    for (let j = 1; j < table.children[i].cells.length; j++)
                        table.children[i].cells[j].innerHTML = "";
                }
                this.selectedLessonSlots = [];
                this.prenotazioniDocente();
            },
            //Called when the user selects a teacher or course: update showed lessons cards
            selectChanged: function () {
                let invalidCourse = this.selectedCourse === "Seleziona Materia" || this.selectedCourse === "";
                let invalidTeacher = this.selectedTeacher === 0 || this.selectedTeacher === "";

                if (this.selectedCourse === "Seleziona Materia")
                    this.selectedCourse = "";
                if (this.selectedTeacher === 0)
                    this.selectedTeacher = "";

                this.lezioni(this.selectedCourse, this.selectedTeacher);

                if (invalidCourse)
                    this.selectedCourse = "Seleziona Materia";
                if (invalidTeacher)
                    this.selectedTeacher = 0;
            },
            //Update graphics of calendar table, assumes data have already been setted
            updateCalendar: function () {
                const table = document.getElementById('calendarTable');
                const checkCalendarIcon = '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-check-fill" fill="white" xmlns="http://www.w3.org/2000/svg">\n' +
                    '  <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>\n' +
                    '</svg>';

                //Reset all table cells to green
                for (let i = 0; i < table.children.length; i++) {
                    for (let j = 1; j < table.children[i].cells.length; j++)
                        table.children[i].cells[j].className = "green";
                }

                //Set red cells
                for (let i = 0; i < this.bookings.length; i++) {
                    let row = this.bookings[i].lessonSlot % 5;
                    let column = Math.trunc((this.bookings[i].lessonSlot / 5)) + 1;

                    if (this.bookings[i].username) {
                        table.children[row].cells[column].className = "user-booked";
                        //table.children[row].cells[column].innerHTML = checkCalendarIcon;
                    } else
                        table.children[row].cells[column].className = "red";
                }

                //update based on teacher availability
                for (let i = 0; i < this.teacherBookings.length; i++) {
                    let row = this.teacherBookings[i].lessonSlot % 5;
                    let column = Math.trunc((this.teacherBookings[i].lessonSlot / 5)) + 1;

                    if (table.children[row].cells[column].className === "green")
                        table.children[row].cells[column].className = "red";
                }

                //update based on user availability
                for (let i = 0; i < this.userBookings.length; i++) {
                    let row = this.userBookings[i].lessonSlot % 5;
                    let column = Math.trunc((this.userBookings[i].lessonSlot / 5)) + 1;

                    if (this.userBookings[i].course !== this.lessonData.course)
                        table.children[row].cells[column].className = "red";
                    table.children[row].cells[column].innerHTML = checkCalendarIcon;
                }
            },
            //Gets all data needed to display the calendar correctly by doing 3 sequential query to the server and updates calendar
            prenotazioniDocente: function () {
                const vm = this;
                $.get("Controller", {
                    action: "prenotazioniDocente",
                    course: vm.lessonData.course,
                    teacherId: vm.lessonData.id,
                }, function (data) {
                    vm.bookings = data.data;
                    $.get("Controller", {
                        action: "teacherBooking",
                        teacherId: vm.lessonData.id,
                    }, function (data1) {
                        vm.teacherBookings = data1.data;
                        $.get("Controller", {
                            action: "userBooking",
                        }, function (data2) {
                            vm.userBookings = data2.data;
                            vm.userBookings.sort((a, b) => {
                                return b.lessonSlot - a.lessonSlot
                            });
                            //now we have bookings, teacherBookings and userBookings and we can update graphics
                            vm.updateCalendar();
                        });
                    });
                });
            },
            //On calendar cell click, add check icon and select slot
            onCellClick: function (i, j) {
                let lessonSlot = (j - 1) * 5 + i;
                let checkIcon = '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="white" xmlns="http://www.w3.org/2000/svg">\n' +
                    '  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>\n' +
                    '</svg>';

                if (this.loggedIn) {
                    if (this.selectedLessonSlots.includes(lessonSlot)) //deselected cell
                    {
                        this.selectedLessonSlots.splice(this.selectedLessonSlots.indexOf(lessonSlot), 1);
                        document.getElementById('calendarTable').children[i].cells[j].innerHTML = "";
                    } else if (document.getElementById('calendarTable').children[i].cells[j].className === "green") //if cell green, select it
                    {
                        this.selectedLessonSlots.push(lessonSlot);
                        document.getElementById('calendarTable').children[i].cells[j].innerHTML = checkIcon;
                    }
                }
            },
            //Sends request to server for booking selectedLessonSlots
            prenotaLezioni: function () {
                const vm = this;
                if (vm.selectedLessonSlots.length > 0) {
                    $.post("Controller", {
                        action: "prenotaLezioni",
                        lessonSlots: JSON.stringify(vm.selectedLessonSlots),
                        teacherId: vm.lessonData.id,
                        course: vm.lessonData.course,
                    }, function (data) {
                        if (data.message !== "OK") {
                            vm.showToast(data.message);
                            if (data.message === "Not logged in")
                                vm.logout();
                        }
                        vm.selectedLessonSlots = [];
                        vm.prenotazioniDocente();
                        const table = document.getElementById('calendarTable');
                        for (let i = 0; i < table.children.length; i++) {
                            for (let j = 1; j < table.children[i].cells.length; j++)
                                table.children[i].cells[j].innerHTML = "";
                        }
                    });
                }
            },
            //Gets user booking for display data in Prenotazioni and for displaying calendar correctly
            getUserBookings: function () {
                const vm = this
                $.get("Controller", {
                    action: "userBooking",
                }, function (data) {
                    if (data.message !== "OK" && vm.loggedIn) {
                        vm.showToast(data.message);
                    }
                    vm.userBookings = data.data;
                    if (vm.userBookings)
                        vm.userBookings.sort((a, b) => {
                            return b.lessonSlot - a.lessonSlot
                        });
                });
            },
            //Gets non-active user bookings
            getOldUserBookings: function () {
                const vm = this
                $.get("Controller", {
                    action: "oldUserBookings",
                }, function (data) {
                    if (data.message !== "OK") {
                        vm.showToast(data.message);
                        if (data.message === "Not logged in")
                            vm.logout();
                    }
                    vm.oldUserBooking = data.data;
                    if (vm.oldUserBooking)
                        vm.oldUserBooking.sort((a, b) => {
                            return b.lessonSlot - a.lessonSlot
                        });
                    //console.log(vm.oldUserBooking)
                });
            },
            //ADMIN, gets all bookings and sort them by username
            getAllBookings: function () {
                const vm = this
                if (vm.isAdmin) {
                    $.get("Controller", {
                        action: "allBookings",
                    }, function (data) {
                        //console.log(data);
                        if (data.message !== "OK") {
                            vm.showToast(data.message);
                            if (data.message === "Not logged in")
                                vm.logout();
                        }
                        vm.allBookings = data.data;
                        if (vm.allBookings) {
                            vm.allBookings.oldBookings.sort((a, b) => {
                                return a.username.localeCompare(b.username)
                            })
                            vm.allBookings.newBookings.sort((a, b) => {
                                return a.username.localeCompare(b.username)
                            })
                        }
                    });
                }
            },
            //Gets a Enum destination parameter, navigates to that page
            navigateTo: function (dest) {
                this.navigation = dest;
                let prenotaNav = document.getElementById("PrenotaNav");
                let prenotazioniNav = document.getElementById("PrenotazioniNav");
                let adminConsoleNav = document.getElementById("AdminConsoleNav");

                if (prenotaNav)
                    prenotaNav.classList.remove("active");
                if (prenotazioniNav)
                    prenotazioniNav.classList.remove("active");
                if (adminConsoleNav)
                    adminConsoleNav.classList.remove("active");

                switch (this.navigation) {
                    case destination.PRENOTA:
                        prenotaNav.classList.add("active");
                        this.materie();
                        this.docenti();
                        this.lezioni(null, null);
                        this.getUserBookings();
                        break;
                    case destination.PRENOTAZIONI:
                        prenotazioniNav.classList.add("active");
                        this.getUserBookings();
                        this.getOldUserBookings();
                        break;
                    case destination.ADMIN_CONSOLE:
                        if (adminConsoleNav)
                            adminConsoleNav.classList.add("active");
                        this.getAllBookings();
                        break;
                }
            },
            //Cancel a booking of this user
            onEmitDisdici: function (course, lessonSlot, teacherId) {
                const vm = this;
                $.post("Controller", {
                    action: "disdici",
                    course: course,
                    lessonSlot: lessonSlot,
                    teacherId: teacherId,
                }, function (data) {
                    if (data.message !== "OK") {
                        vm.showToast(data.message);
                        if (data.message === "Not logged in")
                            vm.logout();
                    }

                    vm.getUserBookings();
                    vm.getOldUserBookings();
                });
            },
            //Mark booking as done
            onEmitEffettuata: function (course, lessonSlot, teacherId) {
                const vm = this;
                $.post("Controller", {
                    action: "effettuata",
                    course: course,
                    lessonSlot: lessonSlot,
                    teacherId: teacherId,
                }, function (data) {
                    console.log(data);
                    if (data.message !== "OK") {
                        vm.showToast(data.message);
                        if (data.message === "Not logged in")
                            vm.logout();
                    }
                    vm.getUserBookings();
                    vm.getOldUserBookings();
                });
            },
            //Admin Console: Inserts new Teacher
            adminInsertTeacher: function () {
                const vm = this;
                //add other checks, maybe with regex
                if (vm.isAdmin && vm.adminForm.teacherName !== "" && vm.adminForm.teacherSurname !== "") {
                    $.post("Controller", {
                        action: "adminInsertTeacher",
                        teacherName: vm.adminForm.teacherName,
                        teacherSurname: vm.adminForm.teacherSurname,
                    }, function (data) {
                        if (data.message === "OK") {
                            vm.adminForm.teacherName = "";
                            vm.adminForm.teacherSurname = "";
                            vm.docenti();
                        } else {
                            vm.showToast(data.message);
                            if (data.message === "Not logged in")
                                vm.logout();
                        }
                    });
                }
            },
            //Admin Console: Delete selected teacher
            adminDeleteTeacher: function () {
                const vm = this;
                //add other checks, maybe with regex
                if (vm.isAdmin() && vm.loggedIn && vm.isAdmin && vm.adminForm.teacherToDelete !== 0) {
                    $.post("Controller", {
                        action: "adminDeleteTeacher",
                        teacherId: vm.adminForm.teacherToDelete,
                    }, function (data) {
                        if (data.message === "OK") {
                            vm.adminForm.teacherToDelete = 0;
                            vm.docenti();
                            vm.getUserBookings();
                            vm.getAllBookings();
                        } else {
                            vm.showToast(data.message);
                            if (data.message === "Not logged in")
                                vm.logout();
                        }
                    });
                }
            },
            //Admin Console: Deletes selected course
            adminDeleteCourse: function () {
                const vm = this;
                //add other checks, maybe with regex
                if (vm.loggedIn && vm.isAdmin && vm.adminForm.courseToDelete !== "Seleziona Materia") {
                    $.post("Controller", {
                        action: "adminDeleteCourse",
                        course: vm.adminForm.courseToDelete,
                    }, function (data) {
                        if (data.message === "OK") {
                            vm.adminForm.courseToDelete = "Seleziona Materia";
                            vm.materie();
                            vm.getAllBookings();
                        } else {
                            vm.showToast(data.message);
                            if (data.message === "Not logged in")
                                vm.logout();
                        }
                    });
                }
            },
            //Admin Console: Add new course
            adminAddCourse: function () {
                const vm = this;
                //add other checks, maybe with regex
                if (vm.loggedIn && vm.isAdmin && vm.adminForm.courseToAdd !== "") {
                    $.post("Controller", {
                        action: "adminAddCourse",
                        course: vm.adminForm.courseToAdd,
                    }, function (data) {
                        if (data.message === "OK") {
                            vm.adminForm.courseToAdd = "";
                            vm.materie();
                        } else {
                            vm.showToast(data.message);
                            if (data.message === "Not logged in")
                                vm.logout();
                        }
                    });
                }
            },
            //Admin Console: Add new Lesson
            adminAddLesson: function () {
                const vm = this;
                //add other checks, maybe with regex
                if (vm.loggedIn && vm.isAdmin && vm.adminForm.courseLesson !== "Seleziona Materia" && vm.adminForm.teacherLesson !== 0) {
                    $.post("Controller", {
                        action: "adminAddLesson",
                        course: vm.adminForm.courseLesson,
                        teacherId: vm.adminForm.teacherLesson,
                    }, function (data) {
                        if (data.message === "OK") {
                            vm.adminForm.courseLesson = "Seleziona Materia";
                            vm.adminForm.teacherLesson = 0;
                            vm.lezioni(null, null);
                        } else {
                            vm.showToast(data.message);
                            if (data.message === "Not logged in")
                                vm.logout();
                        }
                    });
                }
            },
            //Admin Console: Delete Lesson
            adminDeleteLesson: function (course, id) {
                const vm = this;
                //add other checks, maybe with regex
                if (vm.loggedIn && vm.isAdmin) {
                    $.post("Controller", {
                        action: "adminDeleteLesson",
                        course: course,
                        teacherId: id,
                    }, function (data) {
                        if (data.message === "OK") {
                            vm.lezioni(null, null);
                            vm.getAllBookings();
                        } else {
                            vm.showToast(data.message);
                            if (data.message === "Not logged in")
                                vm.logout();
                        }
                    });
                }
            },
            //Show error toast with message parameter
            showToast: function (message) {
                this.message = message;
                $("#errorToast").toast('show');
            },
        }
    });
</script>
</body>
</html>