<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css"/>

    <title>Ripetizioni</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<div id="body-container">
    <!-- Navbar -->
    <nav class="d-flex flex-wrap flex-row navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler mb-2 mb-md-0" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mb-2 mb-md-0" id="navbarNav">
            <ul class="nav nav-pills mr-auto">
                <li class="nav-item">
                    <a class="nav-link active text-center" href="javascript:void(0)" id="PrenotaNav"
                       @click="navigateTo(destination.PRENOTA)">
                        Prenota
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-plus"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            <path fill-rule="evenodd"
                                  d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                        </svg>
                    </a>
                </li>
                <li v-if="loggedIn" class="nav-item">
                    <a class="nav-link text-center" href="javascript:void(0)" id="PrenotazioniNav"
                       @click="navigateTo(destination.PRENOTAZIONI)">
                        Prenotazioni
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                            <path fill-rule="evenodd"
                                  d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                    </a>
                </li>
                <li v-if="isAdmin" class="nav-item">
                    <a class="nav-link text-center" href="javascript:void(0)" id="AdminConsoleNav"
                       @click="navigateTo(destination.ADMIN_CONSOLE)">
                        Admin Console
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-sliders" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <ul v-if="!loggedIn && sessionCheckEnded" class="nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-secondary" href="javascript:void(0)" data-toggle="modal"
                   data-target="#loginModal">Login</a>
            </li>
        </ul>
        <ul v-if="loggedIn && sessionCheckEnded" class="nav ml-auto">
            <li class="nav-item d-flex align-items-center justify-content-center">
                <div class="span12 mb-2 mb-md-0 mr-md-2">Benvenuto, {{username}}</div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center btn btn-danger" href="javascript:void(0)" v-on:click="logout">
                    Logout
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-square-fill"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 8.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    <!-- End Navbar -->
    <section>
        <div v-if="navigation === destination.PRENOTA">
            <!-- Login Modal -->
            <div v-if="!loggedIn && sessionCheckEnded" class="modal fade" id="loginModal" tabindex="-1" role="dialog"
                 aria-labelledby="modal-container"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="form-title text-center">
                            <h4>Login</h4>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex flex-column text-center">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="username"
                                               placeholder="Username" v-model="username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="password"
                                               placeholder="Password" v-model="password">
                                    </div>
                                    <input type="button" class="btn btn-primary btn-block" value="Login"
                                           v-on:click="login">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <div class="d-flex flex-row justify-content-center flex-wrap p-2">
                <select style="max-width: 250px;" class="form-control m-2" v-model="selectedCourse"
                        @change="selectChanged()">
                    <option v-for="course in courses" :value="course.name">{{course.name}}</option>
                </select>
                <select style="max-width: 250px;" class="form-control m-2" v-model="selectedTeacher"
                        @change="selectChanged()">
                    <option v-for="teacher in teachers" :value="teacher.id">{{teacher.name}}
                        {{teacher.surname}}
                    </option>
                </select>
            </div>
            <div id="ripetizioni-container" class="text-center">
                <div v-if="lessonsFlag === true" class="d-flex flex-row justify-content-center flex-wrap p-2">
                    <ripetizione v-for="lesson in lessons" v-bind:corso="lesson.course.name"
                                 v-bind:nome="lesson.teacher.name"
                                 v-bind:cognome="lesson.teacher.surname" v-bind:id="lesson.teacher.id"
                                 @lesson-emit="onLessonEmit"></ripetizione>
                </div>
                <p v-if="lessonsFlag === false" class="m-2">Non ci sono lezioni.</p>
                <img v-if="lessonsFlag === null" class="m-2" style="width: 70px" src="res/load.gif" alt="loading">
            </div>

            <!-- Calendar Modal -->
            <div v-if="lessonsFlag === true" class="modal fade" id="bookModal" tabindex="-1" role="dialog"
                 aria-labelledby="modal-container"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="form-title text-center">
                            <h4>Calendario</h4>
                        </div>
                        <div class="modal-body">
                            <h5>{{lessonData.course}}</h5>
                            <h6>{{lessonData.name}} {{lessonData.surname}}</h6>
                            <div class="d-flex flex-column text-center">
                                <form>
                                    <table class="table table-bordered table-sm">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Lun</th>
                                            <th scope="col">Mar</th>
                                            <th scope="col">Mer</th>
                                            <th scope="col">Gio</th>
                                            <th scope="col">Ven</th>
                                        </tr>
                                        </thead>
                                        <tbody id="calendarTable">
                                        <tr>
                                            <th scope="row">15-16</th>
                                            <td class="green" @click="onCellClick(0,1)"></td>
                                            <td class="green" @click="onCellClick(0,2)"></td>
                                            <td class="green" @click="onCellClick(0,3)"></td>
                                            <td class="green" @click="onCellClick(0,4)"></td>
                                            <td class="green" @click="onCellClick(0,5)"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">16-17</th>
                                            <td class="green" @click="onCellClick(1,1)"></td>
                                            <td class="green" @click="onCellClick(1,2)"></td>
                                            <td class="green" @click="onCellClick(1,3)"></td>
                                            <td class="green" @click="onCellClick(1,4)"></td>
                                            <td class="green" @click="onCellClick(1,5)"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">17-18</th>
                                            <td class="green" @click="onCellClick(2,1)"></td>
                                            <td class="green" @click="onCellClick(2,2)"></td>
                                            <td class="green" @click="onCellClick(2,3)"></td>
                                            <td class="green" @click="onCellClick(2,4)"></td>
                                            <td class="green" @click="onCellClick(2,5)"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">18-19</th>
                                            <td class="green" @click="onCellClick(3,1)"></td>
                                            <td class="green" @click="onCellClick(3,2)"></td>
                                            <td class="green" @click="onCellClick(3,3)"></td>
                                            <td class="green" @click="onCellClick(3,4)"></td>
                                            <td class="green" @click="onCellClick(3,5)"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">19-20</th>
                                            <td class="green" @click="onCellClick(4,1)"></td>
                                            <td class="green" @click="onCellClick(4,2)"></td>
                                            <td class="green" @click="onCellClick(4,3)"></td>
                                            <td class="green" @click="onCellClick(4,4)"></td>
                                            <td class="green" @click="onCellClick(4,5)"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <input v-if="loggedIn && sessionCheckEnded" type="button"
                                           class="btn btn-success btn-block"
                                           value="Prenota" @click="prenotaLezioni"
                                           :disabled="selectedLessonSlots.length == 0">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->
        </div>

        <div v-if="navigation === destination.PRENOTAZIONI">
            <booking v-for="booking in userBookings" v-bind:course="booking.course"
                     v-bind:teacher_name="teachers[booking.teacherId].name"
                     v-bind:teacher_surname="teachers[booking.teacherId].surname"
                     v-bind:date_hour="booking.lessonSlot"></booking>
        </div>

        <div v-if="navigation === destination.ADMIN_CONSOLE">

        </div>

        <!-- Error Toast -->
        <div class="toast fade hide" id="errorToast" data-autohide="false" role="alert" aria-live="assertive"
             aria-atomic="true"
             style="width: 96%; max-width: 100%; position: absolute; top: 2%; right: 2%; left: 2%; z-index: 7000;">
            <div class="toast-header">
                <strong class="mr-auto badge badge-danger">ERROR</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body" id="errorToastText">
                Message
            </div>
        </div>
        <!-- End Error Toast -->
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
<script>

    const destination = {
        PRENOTA: 'prenota',
        PRENOTAZIONI: 'prenotazioni',
        ADMIN_CONSOLE: 'adminConsole',
    }

    function lessonSlotToString(lessonSlot) {
        let day = "";
        switch (Math.floor(lessonSlot / 5)) {
            case 0:
                day = "Lun";
                break;
            case 1:
                day = "Mar";
                break;
            case 2:
                day = "Mer";
                break;
            case 3:
                day = "Gio";
                break;
            case 4:
                day = "Ven";
                break;
        }

        switch (lessonSlot % 5) {
            case 0:
                return day + ", 15-16";
            case 1:
                return day + ", 16-17";
            case 2:
                return day + ", 17-18";
            case 3:
                return day + ", 18-19";
            case 4:
                return day + ", 19-20";
        }
    }

    Vue.component('booking', {
        props: ['course', 'teacher_name', 'teacher_surname', 'date_hour'],
        template: '<div class="card d-flex justify-content-center" style="margin: 25px;">\n' +
            '  <div class="card-body">\n' +
            '    <h5 class="card-title">{{course}}</h5>\n' +
            '    <p class="card-text">{{teacher_name}} {{teacher_surname}}</p>\n' +
            '    <p class="card-text">{{date_hour}}</p>\n' +
            '    <a href="#" class="btn btn-warning">Disdici</a>\n' +
            '    <a href="#" class="btn btn-primary">Effettuata</a>\n' +
            '  </div>\n' +
            '</div>',
        mounted() {
            this.date_hour = lessonSlotToString(this.date_hour);
        },
    });

    Vue.component('ripetizione', {
        props: ['corso', 'nome', 'cognome', 'id'],
        template: '<div class="card text-center m-2">\n' +
            '  <div class="card-body">\n' +
            '    <h5 class="card-title">{{corso}}</h5>\n' +
            '    <h6 :id="\'Docente-\' + id" class="card-subtitle mb-2 text-muted">{{nome}} {{cognome}}</h6>\n' +
            '    <button class="btn btn-primary" v-on:click="emitNames" data-toggle="modal" data-target="#bookModal">Show</button>\n' +
            '  </div>\n' +
            '</div>',
        methods: {
            emitNames: function () {
                this.$emit('lesson-emit', this.$props.nome, this.$props.cognome, this.$props.corso, this.$props.id);
            }
        },
    });

    var vuee = new Vue({
        el: "#body-container",
        data: {
            lessonsFlag: null,
            lessons: null,
            courses: null,
            teachers: null,
            username: null,
            password: null,
            isAdmin: false,
            loggedIn: false,
            sessionCheckEnded: false,
            message: "",
            lessonData: {
                name: null,
                surname: null,
                course: null,
                id: null
            },
            selectedCourse: "Seleziona Materia",
            selectedTeacher: 0,
            bookings: null,
            teacherBookings: null,
            userBookings: null,
            selectedLessonSlots: [],
            navigation: destination.PRENOTA,
        },
        mounted() {
            this.materie();
            this.docenti();
            this.lezioni(null, null);
            this.getSessionLogin();
            this.getUserBookings();

            //FORSE NON SERVE?
            $('#bookModal').on('hidden.bs.modal', function (e) {
                console.log("CIAO");
                const table = document.getElementById('calendarTable');
                for (let i = 0; i < table.children.length; i++) {
                    for (let j = 1; j < table.children[i].cells.length; j++)
                        table.children[i].cells[j].innerHTML = "";
                }
            })
        },
        methods: {
            materie: function () {
                const vm = this;
                $.get("Controller", {
                    action: "materie",
                }, function (data) {
                    if (data.message === "Ok") {
                        vm.courses = data.data;
                    } else {
                        vm.courses = null;
                    }
                });
            },
            docenti: function () {
                const vm = this;
                $.get("Controller", {
                    action: "docenti"
                }, function (data) {
                    if (data.message === "Ok") {
                        vm.teachers = data.data;
                    } else {
                        vm.teachers = null;
                    }
                });
            },
            lezioni: function (corso, docenteId) {
                const vm = this;
                $.get("Controller", {
                    action: "lessons",
                    course: corso,
                    teacherId: docenteId,
                }, function (data) {
                    if (data.message === "Ok") {
                        vm.lessons = data.data;
                        vm.lessonsFlag = true;
                    } else {
                        vm.lessonsFlag = false;
                        vm.lessons = null;
                    }
                });
            },
            login: function () {
                const vm = this;
                if (vm.username == null || vm.username === "" || vm.password == null || vm.password === "") {
                    vm.message = "Username e/o Password sbagliati";
                    return;
                }
                $.post("Controller", {
                    action: "login",
                    username: vm.username,
                    password: vm.password
                }, function (data) {
                    if (data.message === "Ok") {
                        vm.username = data.data.username;
                        vm.password = null;
                        vm.isAdmin = data.data.admin;
                        vm.loggedIn = true;
                        vm.message = "";
                        $('#loginModal').modal('hide');
                    } else {
                        vm.loggedIn = false;
                        vm.message = data.message;
                        $("#errorToast").toast('show');
                    }
                });
            },
            getSessionLogin: function () {
                const vm = this;
                $.post("Controller", {
                    action: "getSessionLogin",
                }, function (data) {
                    if (data.message === "Sessione valida") {
                        vm.username = data.data.username;
                        vm.password = null;
                        vm.isAdmin = data.data.admin;
                        vm.loggedIn = true;
                    }
                    vm.sessionCheckEnded = true;
                });
            },
            logout: function () {
                const vm = this;
                $.get("Controller", {
                    action: "logout",
                }, function (data) {
                    vm.username = null;
                    vm.password = null;
                    vm.isAdmin = false;
                    vm.loggedIn = false;
                });
            },
            onLessonEmit: function (name, surname, course, id) {
                this.lessonData.name = name;
                this.lessonData.surname = surname;
                this.lessonData.course = course;
                this.lessonData.id = id;
                const table = document.getElementById('calendarTable');
                for (let i = 0; i < table.children.length; i++) {
                    for (let j = 1; j < table.children[i].cells.length; j++)
                        table.children[i].cells[j].innerHTML = "";
                }
                this.selectedLessonSlots = [];
                this.prenotazioniDocente();
            },
            selectChanged: function () {
                let invalidCourse = this.selectedCourse === "Seleziona Materia" || this.selectedCourse === "";
                let invalidTeacher = this.selectedTeacher === 0 || this.selectedTeacher === "";

                if (this.selectedCourse === "Seleziona Materia")
                    this.selectedCourse = "";
                if (this.selectedTeacher === 0)
                    this.selectedTeacher = "";

                this.lezioni(this.selectedCourse, this.selectedTeacher);

                if (invalidCourse)
                    this.selectedCourse = "Seleziona Materia";
                if (invalidTeacher)
                    this.selectedTeacher = 0;
            },
            updateCalendar: function () {
                const table = document.getElementById('calendarTable');
                const checkCalendarIcon = '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-check-fill" fill="white" xmlns="http://www.w3.org/2000/svg">\n' +
                    '  <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>\n' +
                    '</svg>';

                //Reset all table cells to green
                for (let i = 0; i < table.children.length; i++) {
                    for (let j = 1; j < table.children[i].cells.length; j++)
                        table.children[i].cells[j].className = "green";
                }

                //Set red cells
                //if (this.bookings.length > 0)
                for (let i = 0; i < this.bookings.length; i++) {
                    let row = this.bookings[i].lessonSlot % 5;
                    let column = Math.trunc((this.bookings[i].lessonSlot / 5)) + 1;

                    if (this.bookings[i].username) {
                        table.children[row].cells[column].className = "user-booked";
                        //table.children[row].cells[column].innerHTML = checkCalendarIcon;
                    } else
                        table.children[row].cells[column].className = "red";
                }

                //update based on teacher availability
                for (let i = 0; i < this.teacherBookings.length; i++) {
                    let row = this.teacherBookings[i].lessonSlot % 5;
                    let column = Math.trunc((this.teacherBookings[i].lessonSlot / 5)) + 1;

                    if (table.children[row].cells[column].className === "green")
                        table.children[row].cells[column].className = "red";
                    console.log("teacherBooking it")
                }

                //update based on user availability
                console.log(this.userBookings.length)
                for (let i = 0; i < this.userBookings.length; i++) {
                    let row = this.userBookings[i].lessonSlot % 5;
                    let column = Math.trunc((this.userBookings[i].lessonSlot / 5)) + 1;

                    console.log(this.userBookings[i].course)
                    if (this.userBookings[i].course !== this.lessonData.course)
                        table.children[row].cells[column].className = "red";
                    table.children[row].cells[column].innerHTML = checkCalendarIcon;
                    console.log("user it")
                }
            },
            prenotazioniDocente: function () {
                const vm = this;
                $.get("Controller", {
                    action: "prenotazioniDocente",
                    course: vm.lessonData.course,
                    teacherId: vm.lessonData.id,
                }, function (data) {
                    vm.bookings = data.data;
                    $.get("Controller", {
                        action: "teacherBooking",
                        teacherId: vm.lessonData.id,
                    }, function (data1) {
                        vm.teacherBookings = data1.data;
                        console.log(data1);
                        $.get("Controller", {
                            action: "userBooking",
                            //teacherId: vm.lessonData.id,
                        }, function (data2) {
                            vm.userBookings = data2.data;
                            vm.userBookings.sort((a, b) => {
                                return a.lessonSlot - b.lessonSlot
                            });
                            console.log(data2);
                            //now we have bookings, teacherBookings e userBookings and we can update graphics
                            vm.updateCalendar();
                        });
                    });


                });
                //return vm.bookings;
            },
            onCellClick: function (i, j) {
                let lessonSlot = (j - 1) * 5 + i;
                let checkIcon = '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="white" xmlns="http://www.w3.org/2000/svg">\n' +
                    '  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>\n' +
                    '</svg>';

                if (this.loggedIn) {
                    if (this.selectedLessonSlots.includes(lessonSlot)) //deselected cell
                    {
                        this.selectedLessonSlots.splice(this.selectedLessonSlots.indexOf(lessonSlot), 1);
                        document.getElementById('calendarTable').children[i].cells[j].innerHTML = "";
                    } else if (document.getElementById('calendarTable').children[i].cells[j].className === "green") //if cell green, select it
                    {
                        this.selectedLessonSlots.push(lessonSlot);
                        document.getElementById('calendarTable').children[i].cells[j].innerHTML = checkIcon;
                    }
                }

                //console.log(this.selectedLessonSlots)
            },
            prenotaLezioni: function () {
                const vm = this;
                if (vm.selectedLessonSlots.length > 0) {
                    $.post("Controller", {
                        action: "prenotaLezioni",
                        lessonSlots: JSON.stringify(vm.selectedLessonSlots),
                        teacherId: vm.lessonData.id,
                        course: vm.lessonData.course,
                    }, function (data) {
                        console.log(data);
                        if (data !== "OK") {
                            $('#errorToast').toast('show');
                            document.getElementById("errorToastText").innerText = data;
                        }
                        vm.selectedLessonSlots = [];
                        vm.prenotazioniDocente();
                        const table = document.getElementById('calendarTable');
                        for (let i = 0; i < table.children.length; i++) {
                            for (let j = 1; j < table.children[i].cells.length; j++)
                                table.children[i].cells[j].innerHTML = "";
                        }
                    });
                }
            },
            getUserBookings: function () {
                const vm = this
                $.get("Controller", {
                    action: "userBooking",
                    //teacherId: vm.lessonData.id,
                }, function (data) {
                    vm.userBookings = data.data;
                    vm.userBookings.sort((a, b) => {
                        return a.lessonSlot - b.lessonSlot
                    });
                });
            },
            navigateTo: function (dest) {
                this.navigation = dest;
                let prenotaNav = document.getElementById("PrenotaNav");
                let prenotazioniNav = document.getElementById("PrenotazioniNav");
                let adminConsoleNav = document.getElementById("AdminConsoleNav");

                prenotaNav.classList.remove("active");
                prenotazioniNav.classList.remove("active");
                adminConsoleNav.classList.remove("active");

                switch (this.navigation) {
                    case destination.PRENOTA:
                        prenotaNav.classList.add("active");
                        break;
                    case destination.PRENOTAZIONI:
                        prenotazioniNav.classList.add("active");
                        break;
                    case destination.ADMIN_CONSOLE:
                        adminConsoleNav.classList.add("active");
                        break;
                }
            },
        }
    });
</script>
</body>
</html>